.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

body {
    background:#efefef;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.topNavBar {
    padding: 20px 0 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;transition: all 0.5s; color: #b7b7b7;
}

.topNavBar.sticky{background: white;padding: 10px 0; z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);color: #3d4451;
}

.topNavBar-inner {
    padding: 0px 16px;
}


.topNavBar .logo {
    font-size: 24px; 
    font-family: 'Arial Black'; 
    padding-top: 3px; 
    padding-bottom: 4px; 
}

.topNavBar .logo .rs{
    margin-right: 4px; 
    color: #e6686a; 
}

.topNavBar .logo .card{
    color: #9A9DA2;
}

.topNavBar nav ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

.topNavBar nav ul > li {
    float: left; 
    margin-left: 17px; 
    margin-right: 17px; 
    position: relative;
}

.topNavBar nav a{
    color: inherit;
    font-weight: bold;
}

.topNavBar nav ul > li > a {
    font-size: 12px; 
    color: inherit; 
    font-weight: bold; 
    border-top: 3px solid transparent; 
    border-bottom: 3px solid transparent;
    padding-top: 5px; 
    padding-bottom: 5px; 
    display: block; 
    position: relative;
}

.topNavBar nav ul > li > a:hover::after{
    content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #e06567;
  height: 3px;
  animation: menuSlide .3s;
}
@keyframes menuSlide{
    0%{ width: 0; }
    100%{ width: 100%; }
}

.topNavBar .submenu > li{
    white-space: nowrap;
    padding: 5px 10px;
  }


.banner {
    height: 500px;
    border: 1px solid rebeccapurple;
    background-image: url(./img/wallhaven-589212.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 500px;
    background-color:rgba(0, 0, 0, 0.5);
}

/*
absolute
生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位。
元素的位置通过 "left", "top", "right" 以及 "bottom" 属性进行规定。
fixed
生成绝对定位的元素，相对于浏览器窗口进行定位。
元素的位置通过 "left", "top", "right" 以及 "bottom" 属性进行规定。
relative
生成相对定位的元素，相对于其正常位置进行定位。
因此，"left:20" 会向元素的 LEFT 位置添加 20 像素。
static	默认值。没有定位，元素出现在正常的流中（忽略 top, bottom, left, right 或者 z-index 声明）。
inherit	规定应该从父元素继承 position 属性的值。
*/

.userCard {
    box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
  }

/* hello */
.userCard .welcome {
    background: #e6686a;
    color: white;
    padding: 3px 16px;
    line-height: 22px;
    /* display: inline-block; */
    position: relative;
    /* width: 70px;
    height: 29px;
    line-height: 29px;
    text-align: center;*/
}
/* hello下面的三角 */
.userCard .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    /* border-left-color: #e6686a; */
    border-left-color: #e6686a;;
    border-top-width: 0px;
    position: absolute;
    top: 100%;
    left: 5px;
    /* 这里就能相对祖先的第一个进行定位  就是welcome */
}
/* 自我介绍的文字和图片的外面的div */
.userCard .pictureAndText {
    padding: 50px;
}
/* 自我介绍的头像 */
.userCard .picture {
}
/* 自我介绍的文字总体 */
.userCard .text {
    margin-left: 50px;
    width: 300px;
}

.userCard hr {
    width: 251px;
}

.userCard .size {
    font-size: 15px;
    margin: 0px;
}

.userCard .userName {
    font-size: 20px;
}

.userCard dl dt,.userCard dl dd {
    float:left;
}
.userCard dl dt {
    width: 30%;
    font-weight: bold;
}
.userCard dl dd {
    width: 40%;
    color: gray;
}

.userCard > footer.footerView {
     background: #e6686a;
     text-align: center;
}

.userCard > footer.footerView > a {
     text-align: center;
     height: 50px;
     width: 50px;
     line-height: 30px;
     border-radius: 50%;
     display: inline-block;
     margin: 16px 16px;
 }

.userCard > footer.footerView > a:hover{
    background: azure;
}

.userCard svg{
    width: 35px ;
    height: 35px;
    padding: 7.5px 0px;
    /*margin: 0px 16px;*/
    vertical-align: top;
}

body > main {
    margin-top: -350px;
}

body > main .downloadResume-wrapper  {
    text-align: center;
}
body > main .downloadResume {
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #CDCFD1;
    background: #efefef;
    display: inline-block;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.3s;
}

body > main .downloadResume:hover{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.3);
}

.selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Kai;
    font-size: 18px;
}

/*selfIntroduction*/
section.skills,
section.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

section.portfolio > h2,
section.skills > h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}


section.skills > h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
    margin: 0px 0px;
}

section.skills > ol{
    background: white;
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.3);
    padding:20px;
}

section.skills > ol > li{
    float: left;
    width: 48%;
}

section.skills > ol > li:nth-child(even){
    float: right;
}

section.skills .progressBar{
    height: 3px;
    background: #FAE1E1;
    border-radius: 2px;
}

section.skills .progress{
     height: 100%;
     width: 30%;
     background: #e6686a;
     border-radius: 2px;
}

section.skills .first{
    height: 100%;
    width: 60%;
    background: #e6686a;
    border-radius: 2px;
}

section.portfolio {
    text-align: center;
}

/*selfIntroduction*/
section.portfolio > nav{
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

section.portfolio > nav > ol {

    margin: 0 auto;
    padding-left: 0px;
    display: inline-block;
    vertical-align: top;
}


section.portfolio > nav > ol > li {
    float: left;
    margin-left: 40px;
}


section.portfolio > nav > ol > li:nth-child(1) {
    margin-left: 0px;
}

section.portfolio > nav .bar {
    height:5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 60px;
    border-radius: 2px;
}

section.portfolio > nav .bar-inner{
    height:100%;
    background: #e6686a;
    border-radius: 2px;
    transition: all 0.3s;
}

section.portfolio > nav .bar.state-1 .bar-inner{
    margin-left: 0;
    width: 50px;
}

section.portfolio > nav .bar.state-2 .bar-inner{
    margin-left: 63px;
    width: 50px;
}

section.portfolio > nav .bar.state-3 .bar-inner{
    margin-left: 140px;
    width: 110px;
}

section.portfolio .works{
    position: relative;
}
section.portfolio .works > .big,
section.portfolio .works > .small {
    position: absolute;
}


